<a href="https://colab.research.google.com/github/yuliacandradewi/Pejuang_Data_3/blob/main/M1P2V2_Variabel_dan__Tipe_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variabel & Tipe Data

## Variabel

**variabeles**: Lokasi penyimpanan yang dapat digunakan untuk menampung sebuah data atau informasi.

Syarat-syarat penamaan variabel
1. Karakter-karakter yang digunakan untuk penamaan variable adalah alphabet, angka, dan underscore.
2. Karakter pertama variable harus berupa huruf atau garis bawah/underscore, dan tidak bisa berupa angka.
3. Nama sebuah variabel tidak bisa menggunakan keyword atau reserved words dari bahasa python seperti for, if, dan lainnya.
4. Karakter pada nama variabel bersifat sensitif (case-sensitif)

In [ ]:
# membuat variabel
kalimat = 'ini adalah variabel'
bilangan1 = 4
bilangan2 = 2.5
bilangan3 = True
bilangan4 = 1j + 4

In [ ]:
# menampilkan variabel
print(kalimat)
print(bilangan1)
print(bilangan2)

ini adalah variabel
4
2.5

### Latihan 1

In [ ]:
# buatlah 5 variabel kalian sendiri dengan 5 macam tipe data
# lalu tampilkan variabel menggunakan fungsi print

# membuat variabel
data1 = 7 
data2 = 5.7 
data3 = 'Saya Mahasiswa Matematika UAD' 
data4 = False 
data5 = 4j + 7 

# menampilkan variabel
print(data1)
print(data2)
print(data3)
print(data4)
print(data5)

7
5.7
Saya Mahasiswa Matematika UAD
False
(7+4j)

## Tipe Data

5 tipe data yaitu
1. In teger atau bilangan bulat
2. Float atau bilangan desimal
3. String atau kalimat
4. Boolean yang terdiri dari True dan False
5. Complex yang merupakan bilangan kompleks

In [ ]:
# menampilkan tipe data
print(type(kalimat))
print(type(bilangan1))
print(type(bilangan2))
print(type(bilangan3))
print(type(bilangan4))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

### latihan 2

In [ ]:
# cek tipe data variabel yang telah kalian buat pada latihan 1

# menampilkan tipe data
print(type(data1))
print(type(data2))
print(type(data3))
print(type(data4))
print(type(data5))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

## Konversi Tipe Data

Syntax konversi tipe data
1. Integer = int()
2. Float = float()
3. String = str()
4. Boolean = bool()
5. Complex = Complex()

In [ ]:
# konversi tipe data integer
print(int(bilangan2))
print(int(bilangan3))

2
1

In [ ]:
# konversi tipe data float
print(float(bilangan1))
print(float(bilangan3))

4.0
1.0

In [ ]:
# konversi tipe data string
print(str(bilangan1))
print(str(bilangan2))
print(str(bilangan3))

4
2.5
True

In [ ]:
# konversi tipe data bool
print(bool(bilangan1))
print(bool(bilangan2))

True
True

In [ ]:
# konvrsi tipe data complex
print(complex(bilangan1))
print(complex(bilangan2))
print(complex(bilangan3))

(4+0j)
(2.5+0j)
(1+0j)

### Latihan 3

In [ ]:
# konversi tipe data variabel yang telah kalian buat
# menjadi berbagai macam tipe data

# konversi tipe data integer
print('konversi tipe data integer')
print(int(data2))
print(int(data4))
print('-'*20)

# konversi tipe data float
print('konversi tipe data float')
print(float(data1))
print(float(data4))
print('-'*20)

# konversi tipe data string
print('konversi tipe data string')
print(str(data1))
print(str(data2))
print(str(data4))
print(str(data5))
print('-'*20)

# konversi tipe data bool
print('konversi tipe data bool')
print(bool(data1))
print(bool(data2))
print(bool(data3))
print(bool(data5))
print('-'*20)

# konvrsi tipe data complex
print('konversi tipe data complex')
print(complex(data1))
print(complex(data2))
print(complex(data4))
print('-'*20)

konversi tipe data integer
5
0
--------------------
konversi tipe data float
7.0
0.0
--------------------
konversi tipe data string
7
5.7
False
(7+4j)
--------------------
konversi tipe data bool
True
True
True
True
--------------------
konversi tipe data complex
(7+0j)
(5.7+0j)
0j
--------------------