<a href="https://colab.research.google.com/github/yuliacandradewi/Pejuang_Data_3/blob/main/M2P1VA_Struktur_Data_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List

List adalah jenis kumpulan data terurut (ordered squence), dan merupakan salah satu variabel yang sering digunakan pada Python. Serupa, namun tak sama dengan array pada bahasa pemrograman lainnya. Bedanya, elemen List pada Python tidak harus memiliki tipe data yang sama. Mendeklarasikan List cukup mudah dengan kurung siku dan elemen yang dipisahkan dengan koma.

Sertiap data di dalamnya dapat diakses dengan indeks yang dimulai dari 0

In [9]:
#Contoh List
L1 = [1, 4, 2, 13]

print(type(L1))

<class 'list'>

In [10]:
L2 = ["a", "Python", 3]
L2

['a', 'Python', 3]

In [11]:
print(L1)
print(L2)

[1, 4, 2, 13]
['a', 'Python', 3]

##Latihan 1

In [15]:
#Buatlah List kalian sendiri
ListSaya = [7, 5.7, "Saya Belajar Python", True, 3j+4]
print("Ini adalah List Saya:", ListSaya)

Ini adalah List Saya: [7, 5.7, 'Saya Belajar Python', True, (4+3j)]

Indeks di python(List, Tuple) mulai dari 0

In [12]:
#Sifat-sifat List

#Terurut/Ordered
print("Memanggil List L1 dengan indeks urutan:", L1[0:3])

#Bisa Diganti/Mutable
L1[1] = 2
print("List L1 setelah diganti elemennya:", L1)

L1 = [1, "dua", True, 2+3j]

#Dapat Diindeks/Slicing
print("Slicing List L1:", L1[3])

#Dapat Diijinkan Duplikasi
L1 = [1, "dua", True, 2+3j, 2+3j]
print("Duplikasi pada List L1", L1)

Memanggil List L1 dengan indeks urutan: [1, 4, 2]
List L1 setelah diganti elemennya: [1, 2, 2, 13]
Slicing List L1: (2+3j)
Duplikasi pada List L1 [1, 'dua', True, (2+3j), (2+3j)]

##Latihan 2

In [16]:
#Ganti elemen yang ada pada List yang kalian buat
ListSaya[0] = 5
ListSaya[1] = 7.3
ListSaya[2] = "Nama Saya Candra"
ListSaya[3] = False
ListSaya[4] = 13j+11

print("Ini adalah List Saya yang baru:", ListSaya)

Ini adalah List Saya yang baru: [5, 7.3, 'Nama Saya Candra', False, (11+13j)]