<a href="https://colab.research.google.com/github/yuliacandradewi/Pejuang_Data_3/blob/main/M2P1V3_Struktur_Data_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Struktur Data Tuple

Tuple adalah jenis dari struktur data yang tidak dapat diubah elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [2]:
#Contoh Tuple
T1 = (1, "dua", True, 1+2j)
print("ini adalah tuple", T1)

ini adalah tuple (1, 'dua', True, (1+2j))

In [3]:
#Menampilkan tipe struktur data
type(T1)

tuple

##**Latihan**

In [11]:
#Buatlah tuplemu sendiri
TupleSaya1 = (17, 37.5, "Saya Pejuang Data 3.0", True, 19+57j)
print("Ini tuple pertama Saya: ", TupleSaya1)

Ini tuple pertama Saya:  (17, 37.5, 'Saya Pejuang Data 3.0', True, (19+57j))

##**Sifat-sifat Tuple**

In [4]:
#Terurut/Ordered
T1[0:3]

(1, 'dua', True)

In [5]:
#Tidak Bisa Diganti/Immutable
T1[2] = "manusia"

TypeError: ignored

In [7]:
#Dapat Diindeks/Slicing
print("elemen kedua dari tuple T1 adalah: ", T1[1])

elemen kedua dari tuple T1 adalah:  dua

In [9]:
#Dapat diijinkan Duplikat
T2 = (3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

##**Menggabungkan tuple**

In [10]:
#Menggabungkan Tuple
T3 = T1 + T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

##**Latihan 2**

In [12]:
#Buatlah tuple kedua lalu gabungkan 2 tuple yang telah kamu buat
TupleSaya2 = (99, 59.1, "Saya sedang mengikuti PSDS 3.0", False, 11+69j)
print("Ini tuple kedua Saya: ", TupleSaya2)

TupleSaya3 = TupleSaya1 + TupleSaya2
print("Dan ini adalah gabungan antara tuple pertama dan kedua Saya: ", TupleSaya3)

Ini tuple kedua Saya:  (99, 59.1, 'Saya sedang mengikuti PSDS 3.0', False, (11+69j))
Dan ini adalah gabungan antara tuple pertama dan kedua Saya:  (17, 37.5, 'Saya Pejuang Data 3.0', True, (19+57j), 99, 59.1, 'Saya sedang mengikuti PSDS 3.0', False, (11+69j))